<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link rel="stylesheet" href="./stylesheet/style.css">
</head>
<body>
    <div class="index">
        <h1 class="index-h">Welcome to index Page</h1>
    <a href="/user"><button>user</button></a>
    </div>
    
</body>
</html>